---
- name: Configure OpenShift deployment for linux-system-roles CI testing
  hosts: localhost
  vars:
    test_harness_dry_run: false
    test_harness_secrets_dir: "{{ '$HOME/rhel-system-roles/test-harness-config/secrets' | expandvars }}"
    test_harness_config_dir: "{{ '$HOME/rhel-system-roles/test-harness-config/config' | expandvars }}"
    test_harness_namespace: lsr-test-harness
    test_harness_sa: "system:serviceaccount:{{ test_harness_namespace }}:tester"
    test_harness_need_node_selector: true
    test_harness_run_as_root: true
    test_harness_node_selector:
      system-roles-ci: "true"
    test_harness_dockerfile_from: "registry.fedoraproject.org/fedora:34"
    test_harness_dockerfile_from_centos7: "quay.io/centos/centos:centos7"
    test_harness_build_config_files: []
    test_harness_dockerfile_pre_tester: []
    test_harness_dockerfile_post: []
    test_harness_openshift_template: ../openshift-objects.yml
  tasks:
    - name: Block for tasks that only run when not using test_harness_dry_run
      when: not test_harness_dry_run
      block:
        - name: Openshift pre-flight checks
          include_tasks: tasks/pre-flight-checks-openshift.yml

        - name: Pre-flight checks
          include_tasks: tasks/pre-flight-checks-general.yml

    - name: Ensure production secrets are present
      include_tasks: tasks/create-secrets.yml
      vars:
        __test_harness_secret_name: secrets
        __test_harness_ghtoken_file: github-token
      when: test_harness_use_production | d(false) | bool

    - name: Ensure staging secrets are present
      include_tasks: tasks/create-secrets.yml
      vars:
        __test_harness_secret_name: secrets-staging
        __test_harness_ghtoken_file: github-token-staging
      when: test_harness_use_staging | d(false) | bool

    - name: Ensure staging is set up
      include_tasks: tasks/setup-ci-environ.yml
      vars:
        __test_harness_environ: staging
        __test_harness_imgstream_name: linux-system-roles
        __test_harness_cm_name: config-staging
        __test_harness_cm_file: config-staging.json
        __test_harness_dc: linux-system-roles-staging
        __test_harness_bc: linux-system-roles-staging
        __test_harness_secret_name: secrets-staging
        __test_harness_ghtoken_file: github-token-staging
        __test_harness_deploy_replicas: "{{ test_harness_deploy_replicas_staging | d(1) }}"
        __test_harness_dockerfile: ../Dockerfile
        __test_harness_dockerfile_from: "{{ test_harness_dockerfile_from }}"
        __test_harness_dockerfile_pre_tester: "{{ test_harness_dockerfile_pre_tester }}"
        __test_harness_build_config_files: "{{ test_harness_build_config_files }}"
        __test_harness_dockerfile_post: "{{ test_harness_dockerfile_post }}"
        __test_harness_deploy_env: "{{ test_harness_deploy_env | combine(test_harness_deploy_env_staging) }}"
        __test_harness_run_as_root: "{{ test_harness_run_as_root }}"
      when: test_harness_use_staging | d(false) | bool

    - name: Ensure production is set up
      include_tasks: tasks/setup-ci-environ.yml
      vars:
        __test_harness_environ: production
        __test_harness_imgstream_name: linux-system-roles
        __test_harness_cm_name: config
        __test_harness_cm_file: config.json
        __test_harness_dc: linux-system-roles
        __test_harness_bc: linux-system-roles
        __test_harness_secret_name: secrets
        __test_harness_ghtoken_file: github-token
        __test_harness_deploy_replicas: "{{ test_harness_deploy_replicas | d(8) }}"
        __test_harness_dockerfile: ../Dockerfile
        __test_harness_dockerfile_from: "{{ test_harness_dockerfile_from }}"
        __test_harness_dockerfile_pre_tester: "{{ test_harness_dockerfile_pre_tester }}"
        __test_harness_build_config_files: "{{ test_harness_build_config_files }}"
        __test_harness_dockerfile_post: "{{ test_harness_dockerfile_post }}"
        __test_harness_deploy_env: "{{ test_harness_deploy_env }}"
        __test_harness_run_as_root: "{{ test_harness_run_as_root }}"
      when: test_harness_use_production | d(false) | bool

    - name: Ensure citool staging is set up
      include_tasks: tasks/setup-ci-environ.yml
      vars:
        __test_harness_environ: staging
        __test_harness_imgstream_name: linux-system-roles-citool
        __test_harness_cm_name: config-staging
        __test_harness_cm_file: config-staging.json
        __test_harness_dc: linux-system-roles-citool-staging
        __test_harness_bc: linux-system-roles-citool-staging
        __test_harness_secret_name: secrets-staging
        __test_harness_ghtoken_file: github-token-staging
        __test_harness_deploy_replicas: 1
        __test_harness_dockerfile: ../Dockerfile
        __test_harness_dockerfile_from: "{{ test_harness_dockerfile_from_citool | d(false) }}"
        __test_harness_dockerfile_pre_tester: "{{ test_harness_dockerfile_pre_tester_citool | d([]) }}"
        __test_harness_build_config_files: "{{ test_harness_build_config_files_citool | d([]) }}"
        __test_harness_dockerfile_post: "{{ test_harness_dockerfile_post_citool | d([]) }}"
        __test_harness_deploy_env: "{{ test_harness_deploy_env | combine(test_harness_deploy_env_citool) | d({}) }}"
        __test_harness_run_as_root: false
      when:
        - false # disable for now
        - test_harness_use_staging | d(false) | bool

    - name: Ensure centos7 staging is set up
      include_tasks: tasks/setup-ci-environ.yml
      vars:
        __test_harness_environ: staging
        __test_harness_imgstream_name: linux-system-roles-centos7
        __test_harness_cm_name: config-staging
        __test_harness_cm_file: config-staging.json
        __test_harness_dc: linux-system-roles-centos7-staging
        __test_harness_bc: linux-system-roles-centos7-staging
        __test_harness_secret_name: secrets-staging
        __test_harness_ghtoken_file: github-token-staging
        __test_harness_deploy_replicas: "{{ test_harness_deploy_replicas_staging | d(1) }}"
        __test_harness_dockerfile: ../Dockerfile.centos7
        __test_harness_dockerfile_from: "{{ test_harness_dockerfile_from_centos7 }}"
        __test_harness_dockerfile_pre_tester: "{{ test_harness_dockerfile_pre_tester }}"
        __test_harness_build_config_files: "{{ test_harness_build_config_files }}"
        __test_harness_dockerfile_post: "{{ test_harness_dockerfile_post }}"
        __test_harness_deploy_env: "{{ test_harness_deploy_env | combine(test_harness_deploy_env_staging) | combine(test_harness_deploy_env_centos7) }}"
        __test_harness_run_as_root: "{{ test_harness_run_as_root }}"
      when: test_harness_use_staging | d(false) | bool

    - name: Ensure centos7 production is set up
      include_tasks: tasks/setup-ci-environ.yml
      vars:
        __test_harness_environ: production
        __test_harness_imgstream_name: linux-system-roles-centos7
        __test_harness_cm_name: config
        __test_harness_cm_file: config.json
        __test_harness_dc: linux-system-roles-centos7
        __test_harness_bc: linux-system-roles-centos7
        __test_harness_secret_name: secrets
        __test_harness_ghtoken_file: github-token
        __test_harness_deploy_replicas: "{{ test_harness_deploy_replicas | d(1) }}"
        __test_harness_dockerfile: ../Dockerfile.centos7
        __test_harness_dockerfile_from: "{{ test_harness_dockerfile_from_centos7 }}"
        __test_harness_dockerfile_pre_tester: "{{ test_harness_dockerfile_pre_tester }}"
        __test_harness_build_config_files: "{{ test_harness_build_config_files }}"
        __test_harness_dockerfile_post: "{{ test_harness_dockerfile_post }}"
        __test_harness_deploy_env: "{{ test_harness_deploy_env | combine(test_harness_deploy_env_centos7) }}"
        __test_harness_run_as_root: "{{ test_harness_run_as_root }}"
      when: test_harness_use_production | d(false) | bool

    - name: Ensure Ansible Core 2.12 is set up
      include_tasks: tasks/setup-ci-environ.yml
      vars:
        __test_harness_environ: production
        __test_harness_imgstream_name: linux-system-roles-a212
        __test_harness_cm_name: config
        __test_harness_cm_file: config.json
        __test_harness_dc: linux-system-roles-a212
        __test_harness_bc: linux-system-roles-a212
        __test_harness_secret_name: secrets-staging
        __test_harness_ghtoken_file: github-token-staging
        __test_harness_deploy_replicas: "{{ test_harness_deploy_replicas_staging | d(1) }}"
        __test_harness_dockerfile: ../Dockerfile.a212
        __test_harness_dockerfile_from: "{{ test_harness_dockerfile_from_a212 }}"
        __test_harness_dockerfile_pre_tester: "{{ test_harness_dockerfile_pre_tester }}"
        __test_harness_build_config_files: "{{ test_harness_build_config_files }}"
        __test_harness_dockerfile_post: "{{ test_harness_dockerfile_post }}"
        __test_harness_deploy_env: "{{ test_harness_deploy_env | combine(test_harness_deploy_env_a212) }}"
        __test_harness_run_as_root: "{{ test_harness_run_as_root }}"
      when: test_harness_use_production | d(false) | bool
